@import "variables.css";
@import "./components/footer.css";
@import "./components/navigation.css";

*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

.hidden {
    display: none;
}

h1{
    font-family: var(--f-light);
    font-size: clamp(var(--s-3md), var(--h1-pref), var(--s-2xl));
    font-weight: var(--fw-light);
    text-transform: lowercase;
    line-height: var(--lh-tight);
}

h2{
    font-family: var(--f-light);
    font-size: clamp(var(--s-2md), var(--h2-pref), var(--s-xl));
    font-weight: var(--fw-light);
    text-transform: lowercase;
    line-height: var(--lh-loose);
}

h3{
    font-family: var(--f-light);
    font-size: clamp(var(--s-md), var(--h3-pref), var(--s-2md));
    font-weight: var(--fw-light);
    text-transform: lowercase;
    line-height: var(--lh-loose);
}

h4{
    font-family: var(--f-regular);
    font-size: clamp(var(--s-2sm), var(--h4-pref), var(--s-2md));
    font-weight: var(--fw-regular);
    text-transform: lowercase;
    line-height: var(--lh-default);
}

p{
    font-family: var(--f-regular);
    font-size: clamp(var(--s-sm), var(--body-pref), var(--s-2sm));
    font-weight: var(--fw-light);
    line-height: var(--lh-default);
}

p.em{
    font-family: var(--f-medium);
    font-size: clamp(var(--s-sm), var(--body-pref), var(--s-2sm));
    font-weight: var(--fw-medium);
    line-height: var(--lh-default);
}

p.small{
    font-family: var(--f-regular);
    font-size: clamp(var(--s-xs), var(--body-small-pref), var(--s-sm));
    font-weight: var(--fw-regular);
    line-height: var(--lh-default);
}

/* Hamburger menu */
.hamburger-menu {
    display: none;
}

/* PRODUCT DETAIL - TABS */

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.icon {
    color: var(--primary-text-colour);
    text-decoration: none;
}


/* PRODUCTS PAGE */

.filters-container {
    margin: 0 var(--s-4xl);
    padding: var(--s-xl) 0;

    > label {
        margin-right: var(--s-sm);
    }
}

.products-main {
    background-color: var(--c-ep-grey);
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--s-xl);
    margin: 0 var(--s-4xl);
    padding: var(--s-4xl) 0;
    align-items: center;
}

.product-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
    margin-bottom: var(--s-3sm);
}

.product-title {
    font-size: var(--h4-pref);
}

/*----------------------------------------*/
/* INDIVIDUAL PRODUCT PAGE */
.product-detail-main {
    margin: var(--s-xl);
}

.product-detail-container {
    display: flex;
    flex-direction: column;
    text-align: center; 
} 
@media (min-width: 501px) {
    .product-detail-container {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "product-image product-name"
        "product-image product-info"
        "product-image product-desc-review"
        ;
    }
} 

.product-detail-image {
    grid-area: product-image;
}
.product-title {
    grid-area: product-name;
}
.product-details {
    grid-area: product-info;
}
.product-tabs {
    grid-area: product-desc-review;
}

.product-title h1 {
    font-size: var(--h2-pref);
    font-weight: var(--fw-medium)
}

.product-detail-image img {
    max-width: 100%;
}

.product-detail-main button {
    font-family: var(--f-regular);
    border: none;
}
.btn-primary {
    background-color: var(--c-tt-green);
    color: var(--c-cc-black);
    padding: var(--s-xs) var(--s-sm);
    margin: var(--s-lg) 0;
}
.tab-btn {
    padding: var(--s-2xs) var(--s-xs);
}