@import "variables.css";
@import "./components/footer.css";
@import "./components/navigation.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.hidden {
    display: none;
}

body {
    background-color: var(--c-ep-grey);
}

h1{
    font-family: var(--f-light);
    font-size: clamp(var(--s-3md), var(--h1-pref), var(--s-2xl));
    font-weight: var(--fw-light);
    text-transform: lowercase;
    line-height: var(--lh-tight);
}

h2{
    font-family: var(--f-light);
    font-size: clamp(var(--s-3md), var(--h2-pref), var(--s-xl));
    font-weight: var(--fw-light);
    text-transform: lowercase;
    line-height: var(--lh-loose);
}

h3{
    font-family: var(--f-light);
    font-size: clamp(var(--s-md), var(--h3-pref), var(--s-2md));
    font-weight: var(--fw-light);
    text-transform: lowercase;
    line-height: var(--lh-loose);
}

h4{
    font-family: var(--f-regular);
    font-size: clamp(var(--s-2sm), var(--h4-pref), var(--s-2md));
    font-weight: var(--fw-regular);
    text-transform: lowercase;
    line-height: var(--lh-default);
}

p{
    font-family: var(--f-light);
    font-size: clamp(var(--s-sm), var(--body-pref), var(--s-2sm));
    font-weight: var(--fw-light);
    line-height: var(--lh-default);
}

p.em{
    font-family: var(--f-medium);
    font-size: clamp(var(--s-sm), var(--body-pref), var(--s-2sm));
    font-weight: var(--fw-medium);
    line-height: var(--lh-default);
}

p.small{
    font-family: var(--f-regular);
    font-size: clamp(var(--s-xs), var(--body-small-pref), var(--s-sm));
    font-weight: var(--fw-regular);
    line-height: var(--lh-default);
}

/* Hamburger menu */
.hamburger-menu {
    display: none;
}

/* PRODUCT DETAIL - TABS */

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.icon {
    color: var(--primary-text-colour);
    text-decoration: none;
}


/* PRODUCTS PAGE */

.products-header {
    padding: var(--s-md) var(--s-lg);
}

.category-filters {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: var(--s-sm);
    padding: var(--s-lg) 0;
}

.category-btn {
    padding: var(--s-sm) var(--s-md);
    border: 2px solid var(--c-tt-green);
    background-color: var(--c-ep-grey);
    cursor: pointer;
    font-family: var(--f-medium);
    font-size: clamp(var(--s-sm), var(--body-pref), var(--s-2sm));
}

.category-btn.active {
    background-color: var(--c-tt-green);
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--s-xl);
    margin: 0 var(--s-lg);
    padding: var(--s-xl) 0;
}

.product-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    display: block;
    margin: var(--s-3sm) auto;
}

.product-title {
    font-size: var(--s-md);
    font-family: var(--f-regular);
    line-height: var(--lh-default);
}

.product-title a {
    color: black;
    text-decoration: none;
}

.product-price {
    font-weight: var(--fw-light);
}

/* tablet small */
@media (min-width: 500px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 var(--s-xl);
    }

    .category-filters {
        grid-template-columns: repeat(2,1fr);
    }
}

/* tablet large */
@media (min-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 var(--s-2xl);
    }
    .category-filters {
        grid-template-columns: repeat(4,1fr);
    }
}

/* desktop */
@media (min-width: 1024px) {
    .products-header {
        padding: var(--s-xl) var(--s-2xl);
    }

    .products-grid {
        margin: 0 var(--s-2xl);
        grid-template-columns: repeat(3,1fr);
    }
}


/* PRODUCT DETAIL PAGE */

.product-detail-main {
    margin: var(--s-xl);
}

.product-detail-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "product-image" 
    "product-name"
    "product-info"
    "product-desc-review";
    justify-items: center;
    text-align: center;
} 

.product-detail-image {
    grid-area: product-image;
    margin-bottom: var(--s-md);
}

.product-detail-image img {
    max-width: 100%;
}

.product-title {
    grid-area: product-name;
}

.product-details {
    grid-area: product-info;
}

.product-tabs {
    grid-area: product-desc-review;
}

.product-title h1 {
    font-weight: var(--fw-medium);
}

.product-detail-main button {
    font-family: var(--f-regular);
}

.btn-primary {
    padding: var(--s-sm) var(--s-lg);
    background-color: var(--c-tt-green);
    border: 2px solid var(--c-tt-green);
    cursor: pointer;
    font-size: var(--cart-button-size);
    font-family: var(--f-light);
    margin: var(--s-lg) 0;
}

.tab-btn {
    padding: var(--s-sm);
    margin-bottom: var(--s-xs);
    border: 2px solid var(--c-cc-black);
    background-color: var(--c-ep-grey);
    cursor: pointer;
    font-family: var(--f-regular);
    font-size: var(--body-pref);
}

.tab-btn.active {
    background-color: var(--c-cc-black);
    color: var(--c-lb-white);
}

/* tablet small */
@media (min-width: 500px) {

    .product-detail-image img {
        max-width: 80%;
        display: block;
        margin: var(--s-3sm) auto;
    }
} 

/* tablet large */
@media (min-width: 768px) {
    .product-detail-container {
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "product-image product-name"
        "product-image product-info"
        "product-image product-desc-review";
        text-align: left;
        justify-items: start;
    }

    .product-detail-image {
        margin-bottom: 0;
        margin-right: var(--s-xl);
    }
    
}
