@import "variables.css";
@import "./components/footer.css";
@import "./components/navigation.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.hidden {
    display: none;
}

body {
    background-color: var(--c-ep-grey);
}

h1{
    font-family: var(--f-light);
    font-size: clamp(var(--s-3md), var(--h1-pref), var(--s-2xl));
    font-weight: var(--fw-light);
    line-height: var(--lh-tight);
    color: var(--c-cc-black);
}

h2{
    font-family: var(--f-light);
    font-size: clamp(var(--s-3md), var(--h2-pref), var(--s-xl));
    font-weight: var(--fw-light);
    line-height: var(--lh-loose);
    color: var(--c-cc-black);
}

h3{
    font-family: var(--f-light);
    font-size: clamp(var(--s-md), var(--h3-pref), var(--s-2md));
    font-weight: var(--fw-light);
    line-height: var(--lh-loose);
    color: var(--c-cc-black);
}

h4{
    font-family: var(--f-regular);
    font-size: clamp(var(--s-2sm), var(--h4-pref), var(--s-2md));
    font-weight: var(--fw-regular);
    line-height: var(--lh-default);
    color: var(--c-cc-black);
}

p{
    font-family: var(--f-light);
    font-size: clamp(var(--s-sm), var(--body-pref), var(--s-2sm));
    font-weight: var(--fw-light);
    line-height: var(--lh-default);
    color: var(--c-cc-black);
}

p.em{
    font-family: var(--f-medium);
    font-size: clamp(var(--s-sm), var(--body-pref), var(--s-2sm));
    font-weight: var(--fw-medium);
    line-height: var(--lh-default);
    color: var(--c-cc-black);
}

p.small{
    font-family: var(--f-regular);
    font-size: clamp(var(--s-xs), var(--body-small-pref), var(--s-sm));
    font-weight: var(--fw-regular);
    line-height: var(--lh-default);
    color: var(--c-cc-black);
}

.button-primary-small{
    background-color: var(--c-tt-green);
    font-size: clamp(var(--s-sm), var(--body-pref), var(--s-2sm));
    font-weight: var(--fw-regular);
    font-family: var(--f-regular);
    color: var(--c-cc-black);
    text-align: center;
    text-decoration: none;
    width: var(--s-full);
    padding: var(--s-xs)
}

.button-secondary-small{
    background-color: var(--c-cc-black);
    font-size: clamp(var(--s-sm), var(--body-pref), var(--s-2sm));
    font-weight: var(--fw-regular);
    font-family: var(--f-regular);
    color: var(--c-ep-grey);
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: var(--s-xs);
    border: none;
    cursor: pointer;
}
/* main{
    max-width: var(--max-vw);
    margin: auto;
} */
 
.button-primary{
    background-color: var(--c-tt-green);
    font-size: clamp(var(--s-2sm), var(--h4-pref), var(--s-2md));
    font-weight: var(--fw-regular);
    font-family: var(--f-regular);
    color: var(--c-cc-black);
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: var(--s-xs);
    border: none;
    cursor: pointer;
}