:root{
/* Screen sizes */
    /* viewport range used for fluid scaling */
    --min-vw: 320;  
    --max-vw: 1200;

    --min-vh: 50;  
    --max-vh: 100;

    /* Prefereable font sizes */
    --h1-pref: calc(3.27px + 7.73vw);
    --h2-pref: calc(1.82px + 5.18vw);
    --h3-pref: calc(0.59px + 3.05vw);
    --h4-pref: calc(9.82px + 0.83vw);
    --body-pref: calc(7.45px + 0.85vw);
    --body-small-pref: calc(5.25px + 0.85vw);

    --product-title-size: calc(5.205px + 1.3vw);
    --cart-button-size: calc(0.59px + 2.5vw);
    --logo-size:calc(1.82px + 3.8vw);

    /* Line height */
    --lh-tight: 1.1;
    --lh-default: 1.4;
    --lh-loose: 1.6;

/* Colours */
    /* Primary */
    --c-tt-green: #2FFF00;

    /* Secondary */
    --c-cc-black: #2E2E2E;
    --c-sp-grey: #9B9B9B;
    --c-ep-grey: #EFEFEF;

    /* Tertiary */
    --c-lb-white: #FEFEFE;

    /* Feedback colors */
    --c-feedback-success: #1D8127;
    --c-feedback-success10: #F1F6F0;
    --c-feedback-failure: #D41F1C;
    --c-feedback-failure10: #FAF1F1;
    --c-feedback-disabled: #CDCDCD;

/* Spacing & Sizing */
    /* Small */
    --s-3xs: .125rem;
    --s-2xs: .25rem;
    --s-xs: .5rem;
    --s-sm: 1rem;
    --s-2sm: 1.25rem;
    --s-3sm: 1.5rem;

    /* Medium */
    --s-md: 1.75rem;
    --s-2md: 2rem;
    --s-3md: 2.25rem;
    
    /* Large */
    --s-lg: 3rem;
    --s-xl: 4rem;
    --s-2xl: 6rem;
    --s-3xl: 8rem;
    --s-4xl: 10rem;

/* Fonts */
    --f-light: 'Helvetica-Neue-light', 'sans-serif';
    --f-regular: 'Helvetica-Neue-regular', 'sans-serif';
    --f-medium: 'Helvetica-Neue-medium', 'sans-serif';

/* Font weights */
    --fw-light: 300;
    --fw-regular: 500;
    --fw-medium: 600;
}

/* Font faces */
@font-face {
    font-family: Helvetica-Neue-light;
    src: url("../assets/fonts/HelveticaNeue-Light.ttf");
}

@font-face {
    font-family: Helvetica-Neue-regular;
    src: url("../assets/fonts/HelveticaNeue-Regular.ttf");
}

@font-face {
    font-family: Helvetica-Neue-medium;
    src: url("../assets/fonts/HelveticaNeue-Medium.ttf");
}