/* TEMPORARY */

picture{
 display: block;
 font-size: 0;
}

.img-container{
        img{
            object-fit: cover;
            width: 100%;
        }
    }
    
.hero-section{
    display: grid;
    overflow: hidden;
    position: relative;
    .hero-img-container,.hero-blur-box, .hero-header{
    grid-area: 1/1;
    }
    .hero-blur-box{
        display: block;
        height: 100%;
        width: 45%;
        z-index: 10;
        backdrop-filter: blur(2.5px);
        margin-left: auto;
        border-left: var(--c-tt-green) solid 1px;
    }

    .hero-header{
        position: absolute;
        width: fit-content;
        height: fit-content;
        bottom: 25%;
        right: 18%;
        z-index: 20;
        *{
            color: var(--c-lb-white) !important;
        }
    }
    @media (min-width: 768px) {
        .hero-blur-box{
            backdrop-filter: blur(5px);
        }
        .hero-header{
            bottom: 50%;
            right: 28%;
        }
    }
}

.category-box-container{
    display: grid;
    grid-template-columns: 1;
    margin-bottom: var(--s-3md);

 
    .category-box-item{
        display: grid;
        border-right: var(--c-sp-grey) solid 3px;
        
        .category-label, .category-box{
            grid-area: 1/1;
        }
        .category-label{
            position: relative;
            right: 0;
            z-index: 20;
            color: var(--c-lb-white);
            background-color: var(--c-sp-grey);
            width: fit-content;
            height: fit-content;
            padding-inline: var(--s-md);
            margin-left: auto;
            background-color: var(--c-sp-grey);
        }
        + .category-text-content{
            display: flex;
            flex-direction: column;
            gap: var(--s-md);
            margin-top: var(--s-3md);
            margin-inline: var(--s-sm);
            .category-text-container{
                display: flex;
                flex-direction: column;
                gap: var(--s-md);
            }
        }   
    }
    @media (min-width: 768px){
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas:
        "column1 column2"
        "row row";
        .category-box-item{
            aspect-ratio: 10/13;
        }
        .category-1{

            grid-area: column1;
        }
        .category-2{
            grid-area: column2;
        }
        .category-text-content{
            grid-area: row;
        }
    }
    @media (min-width: 1024px){
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas:
        "column1 column2 column3";
        .category-text-content{
            grid-area: column3;
            grid-column: 3;
            justify-content: space-between;
        }
    }
}

.category-header {
    margin-bottom: var(--s-xs);
    h2 a{
        color: var(--c-cc-black);
        text-decoration: none;
        font-weight: var(--fw-medium);
        &:hover{
            text-decoration: underline;
        }
    }
}

