/* Breadcrumbs */
#breadcrumb {
    background-color: var(--c-sp-grey);
    padding: var(--s-md);
    max-width: var(--max-vw);
    margin: auto;
    margin-top: var(--s-xl);
    position: relative;
}

.breadcrumb-item {
    text-decoration: none;
    color: var(--c-cc-black);
    font-family: var(--f-regular);
}

#breadcrumb li:last-child a {
    font-family: var(--f-medium);
    text-transform: capitalize;
}

.product-detail-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "product-image" 
    "product-name"
    "product-info"
    "product-desc-review";
} 

.product-detail-image {
    grid-area: product-image;
    margin-bottom: var(--s-md);
}

.product-detail-image img {
    max-width: 100%;
}

.product-title {
    grid-area: product-name;
}

.product-price p{
    font-family: var(--f-light);
    font-size: clamp(var(--s-3md), var(--h2-pref), var(--s-xl));
    font-weight: var(--fw-light);
    line-height: var(--lh-loose);
    color: var(--c-cc-black);
}

.product-details {
    grid-area: product-info;
    width: var(--s-full);
    .product-cta-container{
        width: var(--s-full);
        display: flex;
        flex-direction: column;
        gap: var(--s-sm);
        margin-block: var(--s-sm);
    }
}

.product-tabs {
    grid-area: product-desc-review;
}

.product-title p {
    font-family: var(--f-light);
    font-size: clamp(var(--s-md), var(--h3-pref), var(--s-2md));
    font-weight: var(--fw-light);
    line-height: var(--lh-loose);
    color: var(--c-cc-black);
}

.product-detail-main button {
    font-family: var(--f-regular);
}

.product-detail-image {
    position: relative;
    display: inline-block;
}

.product-category {
    position: absolute;
    font-family: var(--f-medium);
    color: var(--c-lb-white);
    background-color: var(--c-sp-grey);
    padding: var(--s-3xs) var(--s-2xs);
}

.tab-btn {
    padding: var(--s-xs);
    margin-bottom: var(--s-md);
    border: 2px solid var(--c-cc-black);
    background-color: var(--c-ep-grey);
    cursor: pointer;
    font-family: var(--f-regular);
    font-size: var(--body-pref);
}

.tab-btn.active {
    background-color: var(--c-cc-black);
    color: var(--c-lb-white);
}
.tab-content #product-description p{
    font-family: var(--f-regular);
}

/* tablet small */
@media (min-width: 500px) {
    .product-detail-image img {
        max-width: 80%;
        display: block;
        margin: var(--s-3sm) auto;
    }

} 
/* tablet large */
@media (min-width: 768px) {
    .product-detail-container {
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "product-image product-name"
        "product-image product-info"
        "product-image product-desc-review";
        text-align: left;
        justify-items: start;
    }
    
    .btn-primary {
        margin: var(--s-lg) var(--s-2sm) 0 0;
    }
    
    .product-detail-image {
        margin-bottom: 0;
        margin-right: var(--s-xl);
    }
    
    .product-category {
        top: var(--s-3sm);
        left: var(--s-md);
    }
    
    #breadcrumb {
        padding: var(--s-sm);
    }
    #breadcrumb ul {
        display: flex;
        gap: var(--s-sm);
    }  
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.icon {
    color: var(--primary-text-colour);
    text-decoration: none;
}

@media (min-width: 1024px) {
.product-details .product-cta-container{
    flex-direction: row;
    }
}