/* Breadcrumbs */
#breadcrumb {
    background-color: var(--c-sp-grey);
    padding: var(--s-2sm);
    position: relative;
}

.breadcrumb-item {
    text-decoration: none;
    color: var(--c-cc-black);
    font-family: var(--f-regular);
}

#breadcrumb li:last-child a {
    font-family: var(--f-medium);
    text-transform: capitalize;
}

/* Main page */
.product-detail-main {
    margin: var(--s-xl);
    text-align: center;
}

.product-detail-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "product-image" 
    "product-name"
    "product-info"
    "product-desc-review";
    justify-items: center;
    text-align: center;
} 

.product-detail-image {
    grid-area: product-image;
    margin-bottom: var(--s-md);
}

.product-detail-image img {
    max-width: 100%;
}

.product-title {
    grid-area: product-name;
}

.product-details {
    grid-area: product-info;
}

.product-tabs {
    grid-area: product-desc-review;
}

.product-title h1 {
    font-weight: var(--fw-medium);
}

.product-detail-main button {
    font-family: var(--f-regular);
}

.product-detail-image {
    position: relative;
    display: inline-block;
}

.product-category {
    position: absolute;
    font-family: var(--f-medium);
    color: var(--c-lb-white);
    background-color: var(--c-sp-grey);
    padding: var(--s-3xs) var(--s-2xs);
}


.btn-primary {
    display: inline-block;
    width: auto;
    padding: var(--s-xs) var(--s-lg);
    background-color: var(--c-tt-green);
    border: 2px solid var(--c-tt-green);
    font-size: var(--s-sm);
    cursor: pointer;
    font-family: var(--f-light);
    margin: var(--s-lg) 0 0 0;
}
.btn-secondary {
    display: inline-block;
    width: auto;
    text-decoration: none;
    padding: var(--s-xs) var(--s-lg);
    background-color: var(--c-cc-black);
    border: 2px solid var(--c-cc-black);
    color: var(--c-lb-white);
    font-size: var(--s-sm);
    cursor: pointer;
    font-family: var(--f-light);
    margin: var(--s-sm) 0 var(--s-lg) 0;
}

.tab-btn {
    padding: var(--s-sm);
    margin-bottom: var(--s-xs);
    border: 2px solid var(--c-cc-black);
    background-color: var(--c-ep-grey);
    cursor: pointer;
    font-family: var(--f-regular);
    font-size: var(--body-pref);
}

.tab-btn.active {
    background-color: var(--c-cc-black);
    color: var(--c-lb-white);
}

/* tablet small */
@media (min-width: 500px) {

    .product-detail-image img {
        max-width: 80%;
        display: block;
        margin: var(--s-3sm) auto;
    }
    #breadcrumb {
        padding: var(--s-md);
    }

    .btn-secondary {
        text-align: center;
    }
    
} 
/* tablet large */
@media (min-width: 768px) {
    .product-detail-container {
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "product-image product-name"
        "product-image product-info"
        "product-image product-desc-review";
        text-align: left;
        justify-items: start;
    }

    .btn-primary {
        margin: var(--s-lg) var(--s-2sm) 0 0;
    }

    .product-detail-image {
        margin-bottom: 0;
        margin-right: var(--s-xl);
    }

    .product-category {
        top: var(--s-3sm);
        left: var(--s-md);
    }

    #breadcrumb {
        padding: var(--s-lg);
    }
    #breadcrumb ul {
        display: flex;
        position: absolute;
        bottom: var(--s-md);
        left: var(--s-md);
    }  
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.icon {
    color: var(--primary-text-colour);
    text-decoration: none;
}
