.product-card:hover{
    img{
        filter: grayscale(0);
        transition: filter .1s;
    }
    .product-title a {
        text-decoration: underline;
    }
}

.category-filters {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: var(--s-sm);
    padding: var(--s-lg) 0;
}


.button-secondary.active {
    transition: background-color .2s;
    background-color: var(--c-tt-green);
    color: var(--c-cc-black);
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--s-xl);
}

.product-image {
    width: 100%;
    max-width: var(--s-80);
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    display: block;
    margin: var(--s-3sm) auto;
    filter: grayscale(1);
}

.product-title {
    font-size: var(--s-md);
    font-family: var(--f-regular);
    line-height: var(--lh-default);
}

.product-title a {
    color: var(--c-cc-black);
    text-decoration: none;
}

.product-price {
    font-weight: var(--fw-light);
}

/* tablet small */
@media (min-width: 500px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .category-filters {
        grid-template-columns: repeat(2,1fr);
    }
}

/* tablet large */
@media (min-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .category-filters {
        grid-template-columns: repeat(4,1fr);
    }
}

/* desktop */
@media (min-width: 1024px) {
    .products-grid {
        /* margin: 0 var(--s-2xl); */
        grid-template-columns: repeat(3,1fr);
    }
}