/* main {
    margin: var(--s-2md) var(--s-xl);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--c-lb-white);
    padding: var(--s-2md) 0 var(--s-2md) 0;
    border: 2px solid var(--c-tt-green);
}

main p {
    font-family: var(--f-medium);
}

main a {
    color: var(--c-sp-grey);
} */

.form{
    background-color: var(--c-lb-white);
    padding: var(--s-md) var(--s-sm);
    
    fieldset{
        padding: var(--s-md);
        margin-bottom: var(--s-2sm);
    }
    .form-dual{
        display: flex;
        flex-direction: column;
    }
    .form-item{
        display: flex;
        flex-direction: column;
        width: var(--s-80);
        margin-bottom: var(--s-sm);
        label{
            font-family: var(--f-regular);
            font-size: clamp(var(--s-sm), var(--body-pref), var(--s-2sm));
            font-weight: var(--fw-light);
            line-height: var(--lh-default);
            color: var(--c-cc-black);
        }
    }
    input{
            border: var(--s-4xs) solid var(--c-sp-grey);
            width: var(--s-full);
            padding: var(--s-2xs) var(--s-2xs);
            font-family: var(--f-regular);
            color: var(--c-cc-black);
            font-weight: var(--fw-regular);
            
            &.short-input{
                max-width: var(--s-xl);
            }
            &:focus{
                outline-color: var(--c-cc-black);
            }
        }
    legend{
        font-family: var(--f-regular);
        font-size: clamp(var(--s-2sm), var(--h4-pref), var(--s-2md));
        font-weight: var(--fw-regular);
        line-height: var(--lh-default);
        color: var(--c-cc-black);
        padding-inline: var(--s-xs);
    }
}