.navbar{
    position: absolute;
    top: 0;
    z-index: 100;
    width: var(--s-full);
    padding: var(--s-sm);
    background-color: var(--c--nav-backdrop);
    .navbar-logo{
        display: flex;
        align-self: center;
        img{
            height: var(--s-md);
        }
    }
    .navbar-container{
        display: flex;
        justify-content: space-between;
        gap: var(--s-sm);
        max-width: var(--max-vw);
        margin: auto;
        #navbar-utility{
            display: flex;
            gap: var(--s-sm);
            >*{
                margin: auto;
            }
            .nav-icon{
                width: var(--s-md);
            }
            #hamburgerToggle{
                background: none;
                border: none;
                cursor: pointer;
            }
            .hamburger-icon{
                width: var(--s-md);
                
            }
            
        }
        .nav-secondary{
            position: absolute;
            top: var(--s-2xl);
            right: var(--s-sm);
            
            ul{
                display: flex;
                gap: var(--s-sm);
                li{
                    margin-left: auto;
                };
            }
        }
    }
}
@media (min-width: 786px) {
    .navbar .navbar-container{
        #navbar-utility{
            gap: var(--s-md);
   
        }
    }
}

/* Hamburger menu */
/* .hamburger-menu {
    display: none;
} */

.anim-dropdown{
    animation-name: dropdown_kf;
    animation-duration: .3s;
    animation-direction: both;
}

@keyframes dropdown_kf {
    from{
        transform: translateY(8px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}