.navbar-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: var(--c-cc-black);
    padding: var(--s-xs);
}

.navbar a {
    text-decoration: none;
    color: var(--c-ep-grey);
    font-family: var(--f-light);
}

.navbar-logo a {
    color: var(--c-lb-white);
    font-size: var(--logo-size);
    margin-left: var(--s-sm);
}

.navbar-logo span {
    color: var(--c-tt-green);
}

.icon {
    font-size: var(--h3-pref);
}

ul > li {
    display: inline-block;
    margin-right: var(--s-2xs);
}

#hamburger-links {
    display: none;
    flex-direction: column;
    text-align: right;
    gap: var(--s-xs);
    margin-top: var(--s-sm);
    font-size: var(--body-pref);
}
#hamburger-links.show {
    display: flex;
}
@media (min-width: 320px) {
    #hamburger-links.show {
        flex-direction: row;
        justify-content: flex-end;
        text-align: right;
    }
}

#hamburger-links .nav-item {
    margin-bottom: var(--s-2xs);
}
